body{
    background: url(../images/bg.png) repeat;
    font: 100%/14pt sans-serif;
}

a #back{
    color: black;
}

.messageblock{
    margin-top: 1px;
    background-color: white;
    width: 370px;
    padding: 15px;
}

.date{
    padding: 5px 10px;
    background-color: lightgrey;
}

.date :hover{
    border-bottom: 1px thistle;
}


.loadMessage{
    margin: 5px 0;
}

.menu{
    width: 90%;
    padding-left: 5%;
    float: left;
}

.exit{
    float:left;
}

a {
    color: orangered;
    border : none;
    font: normal bold 15px/30px Georgia, serif;
}

a:hover {  color: #4CAF50;
}

.container{
    width: auto;
    padding-left: 70px;
    padding-right: 70px;
    border: none;

}

.manager{
    padding-bottom: 30px;
    width: auto;
    border-bottom: 2px solid blue;
}


.addSubordinate {
    padding-bottom: 30px;
    padding-top: 30px;
    width: auto;
}

table {
    border: 1px solid black;
    border-collapse:collapse;
}

.containerJournal{
    overflow: auto;
    max-height:500px;
    max-width: 400px;
    float: right;
}

.journals{
    float: right;
    max-width: 400px;
}

.journal{
    text-align: left;
    margin-top: 1px;
    background-color: white;
    width: 370px;
    padding: 15px;
}

.makers{
    width: 400px;
    background-color: lightgreen;
}
.showDetails{
    float: left;
}

.item{
    text-align: left;
    color: black;
    border-top: 2px solid blue;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: 20px;
}

.inform{
    width:500px;
}

.messages{
    float: right;
    width: 400px;
}


.tasks{
    max-width:400px;
    max-height:500px;
    overflow: auto;
    float: left;
    margin-bottom: 50px;
    margin-top: 30px;
}

.task{
    margin-top: 1px;
    background-color: white;
    width: 350px;
    padding: 15px;
}

.infoTask{
    float: left;
    width: 600px;
}

.containerTask {
    min-width:500px;
}


.containerMessage{
    overflow: auto;
    max-height:500px;
    width: 400px;
}


.successful{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}


/* sprint */

.sprintC{
    width: auto;
}

.sprint{
    font: 100%/14pt sans-serif;
    width: 796px;
    float: left;
}

.sprintDetails{
    font: 16pt bold sans-serif ;
}



/* clear */
.clearfix{
    clear: both;
}

p {
    color: black;
}