@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
    background: url(../images/bg.png) repeat;
    font: 100%/1.5em sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    margin: 0;
}


.error{
    padding: 25px 25px;
}


.information{
    width: 400px;
    float: right;
    border: none;

}

.register{
    width: 400px;
    border: none;
    float: left;
}

.container{
    text-align: center;
    width:auto;
    padding-left: 70px;
    padding-right: 70px;
    border: none;

}

.main{
    align-content: center;
    width: auto;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    border: none;

}

a {
    font: 14px solid;
    color: orangered;
}
